#background {
  background-image: url("https://media.istockphoto.com/photos/blue-abstract-background-or-texture-picture-id1138395421?k=6&m=1138395421&s=612x612&w=0&h=bJ1SRWujCgg3QWzkGPgaRiArNYohPl7-Wc4p_Fa_cyA=");
  height: 100vh;
  color: pink;
}

.center {
  align-items: center;
  text-align: center;
}

#input {
  border-radius: 5px;
}
